@page "/"
@inject IUserLoginViewHandler ViewModelHandler

@if (_viewModel is null)
{
    <h1>Not loaded</h1>
}
else
{
    <PageTitle>@_viewModel.Title</PageTitle>
    
    <MudContainer MaxWidth="MaxWidth.Medium">
        <MudText Typo="Typo.h1" Color="Color.Primary" Align="Align.Center">@_viewModel.Title</MudText>

        <MudPaper Class="my-10 mx-auto" Style="width: 60%;">
            <MudCard>
                @if (_viewModel.HasUser == false)
                {
                    <MudCardHeader>
                        You need to login using discord to proceed
                    </MudCardHeader>
                    <MudCardActions>
                        <MudButton Href="/Account/Login">Login with Discord</MudButton>
                    </MudCardActions>
                }
                else
                {
                    <MudCardContent>
                        Logged in
                    </MudCardContent>
                }
            </MudCard>
            
            <MudCard Class="mt-4">
                @if (_viewModel.HasWishlist == false)
                {
                    <MudCardContent>
                        Form here
                    </MudCardContent>
                    <MudCardActions>
                        <MudButton Disabled="@_viewModel.HasUser">Add Wishlist</MudButton>
                    </MudCardActions>
                }
                else
                {
                    <MudCardContent>
                        Some wishlist link!
                    </MudCardContent>
                }
            </MudCard>
        </MudPaper>
    </MudContainer>
}

@code {

    UserLoginViewModel? _viewModel = null;

    protected override async Task OnInitializedAsync()
    {
        _viewModel = await ViewModelHandler.OnInitAsync();
    }

}