@page "/"
@inject IUserLoginViewHandler ViewModelHandler
@inject NavigationManager NavigationManager

@if (_viewModel is null)
{
    <h1>Not loaded</h1>
}
else
{
    <PageTitle>@_viewModel.Title</PageTitle>

    @if (_viewModel.HasUser == false)
    {
        <MudButton Href="/Account/Login">Login with Discord</MudButton>
    }
    else
    {
        <span>Logged in</span>
    }
}

@code {

    UserLoginViewModel? _viewModel = null;

    protected override async Task OnInitializedAsync()
    {
        _viewModel = await ViewModelHandler.OnInitAsync();
    }

}