@page "/"
@inject IUserLoginViewHandler ViewModelHandler
@inject IStringLocalizer<IndexPageResources> Translate

@if (_viewModel is null)
{
    <h1>Not loaded</h1>
}
else
{
    <PageTitle>@_viewModel.Title</PageTitle>
    
    @if (_viewModel.HasUser == false)
    {
        <CenterBlock>
            Some centre text
        </CenterBlock>
    }
}

@code {

    UserLoginViewModel? _viewModel = null;

    protected override async Task OnInitializedAsync()
    {
        _viewModel = await ViewModelHandler.OnInitAsync();
    }

    protected async Task OnWishlistSubmit(string wishlistUrl)
    {
        _viewModel = await ViewModelHandler.SetWishlistUrl(wishlistUrl);
    }
}