<div class="grid h-screen place-items-center">
  <theme-card [class]="'w-96'">
    <theme-card-body>
      <ng-container *ngIf="input !== undefined; else loading">
        <h1>Setup</h1>
        <theme-progress *ngIf="progressValue !== 6"
                        [max]="6"
                        [value]="progressValue"/>
        <ng-container [ngSwitch]="progressValue">
          <page-home-no-config *ngSwitchCase="1"/>
          <page-home-not-healthy *ngSwitchCase="2"/>
          <page-home-not-signed-in *ngSwitchCase="3"/>
          <page-home-not-admin-no-campaign *ngSwitchCase="4"/>
          <page-home-setup-campaign *ngSwitchCase="5"/>
          <page-home-campaign-home *ngSwitchCase="6"/>
        </ng-container>
      </ng-container>
    </theme-card-body>
  </theme-card>
</div>

<ng-template #loading>
  <theme-loading/>
</ng-template>
