<div class="grid h-screen place-items-center">
  <theme-card [class]="'w-96'">
    <theme-card-body>
      <ng-container *ngIf="input !== undefined; else loading">
        <h1>Setup</h1>
        <theme-progress [value]="progressValue" max="7"/>
        <ng-container [ngSwitch]="progressValue">
          <page-home-no-config *ngSwitchCase="1"/>
          <page-home-not-healthy *ngSwitchCase="2"/>
          <page-home-no-admins *ngSwitchCase="3"/>
        </ng-container>
      </ng-container>
    </theme-card-body>
  </theme-card>
</div>

<ng-template #loading>
  <theme-loading/>
</ng-template>
