<Button
    Clicked="@Clicked"
    Color="@Color"
    Size="Size.Small"
    class="mb-3"
    style="width: 100%;"
>@ChildContent</Button>

@code {

    [Parameter]
    public RenderFragment ChildContent { get; set; } = null!;
    
    [Parameter]
    public EventCallback Clicked { get; set; }

    [Parameter]
    public Color Color { get; set; } = Color.Primary;

}